.header {
  position: fixed;
  top: 0;
  transition: all 0.2s ease;
  width: 100%;
  z-index: 9;
}

.header-content {
  align-items: center;  
  background-color: #f55;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight:700;
  display: flex;
  height: 125px;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.header-container.scrolled {
  background-color: rgba(245, 85, 85, 0.98);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-content .icon {
  height: 110px;
  object-fit: contain;
  width: 110px;
}

.nav-list {
  align-items: center;
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  position: relative;
}

.nav a {
  color: #000;
  display: inline-block;
  font-size: 32px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
}

/* Dropdown styles */
.dropdown-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  display: none;
  flex-direction: column;
  left: 0;
  min-width: 160px;
  position: absolute;
  top: 100%;
  z-index: 1000;
}

.dropdown-content a {
  color: rgb(black);
  text-decoration: none;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f55;
}

.dropdown:hover .dropdown-content {
  display: flex;
}