* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f55;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}
.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-top: #000 solid 2px;
  border-bottom: #000 solid 2px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
p {
  color: hsl(0, 0%, 0%); /* Белый только для заголовков */
  font-size: 24px;
}
h1 {
  font-size: 75px;
}

.aside {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  min-height: 100vh;
  border-right: #000 solid 2px;
  background-color: #f55;
}

.back-to-menu {
  /**/
}
.buy-new-course {
}
.faq {
}

.upper-menu {
  /*grid-template-columns: 2fr 50% 2fr 1fr;*/
  display: flex;
  justify-content: center;
  align-items: center; /* Выравнивание по центру по вертикали */
  gap: 20px;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background-color: aqua;
}

/* Поиск */
.search {
  display: flex;
  flex: 6 1 0;
  align-items: center;
  height: 40px;
}

.search form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search .input-field {
  width: 100%;
  height: 40px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  transition: all 0.2s ease;
}

.search .input-field:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  outline: none;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: -45px; /* Сдвигаем кнопку поверх input */
  border: none;
  border-radius: 50%;
  background: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.search-icon {
  width: 20px;
  height: 20px;
  fill: #000;
}

.nickname {
  display: flex;
  flex: 1 0 0;
  align-items: center;
}
.avatar {
  display: flex;
  flex: 1 0 0;
  align-items: center;
}

.avatar-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f55;
}

.courses {
}
.course-name {
}
.progress-bar {
}
.coutinue-button {
}

.data {
  display: flex;
  flex-direction: column;
}
.data-text {
}

.my-account {
  display: grid;
}
.login {
}
.e-mail {
}
.password {
}
.phone-number {
}

.about-me {
  display: grid;
}
.name {
}
.date-of-birth {
}
.surname {
}
.sex {
}
.math-level {
}
